.cover-img
{
    display: block;
    margin: 0 auto;
}

.title
{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.italian,
.greek,
.french
{
    height: 400px;
    width: 450px;
    margin: 100px;
   
}

ul,
li
{
    display: inline;
    text-align: center;
    
}

